@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --subtext-color: #61ace2;
  --text-color: #51556e;
  --background-color: #476c81;
  --background-color2: #1b252c;
  --nav-color: #d4d7ec;
}
body {
  background-color: rgb(245, 245, 245);
}

#titulo {
  background-image: url(../asset/img/index_head.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 110px;
  color: white;
  font-weight: bold;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

#titulo h1 {
  font-size: 4.5vw;
}

#titulo h2 {
  font-size: 2.5vw;
}

#navegacion {
  background-color: var(--nav-color);
  margin-bottom: 60px;
}

#navegacion ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navegacion li {
  display: inline;
  margin-right: 5rem;
}

#navegacion a {
  color: var(--text-color);
  text-transform: uppercase;
  font-family: "Roboto Flex", sans-serif;
  text-decoration: none;
}

.subtitulos {
  position: relative;
  left: 20px;
  font-size: larger;
  font-family: "Roboto Flex", sans-serif;
  color: var(--subtext-color);
  text-shadow: 1px 1px 1px #5f6274;
  text-transform: uppercase;
}

.sobre_container {
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
  margin: 0 40px 60px 40px;
}

#sobrePagina p {
  font-family: "Roboto Flex", sans-serif;
  color: var(--text-color);
  text-align: justify;
  text-indent: 30px;
  font-size: 2rem;
  line-height: 40px;
  padding: 2rem 2rem 0 0;
}

#sobrePagina img {
  width: 20rem;
  border-radius: 15px;
}


.containerJuegos {
  display: flex;
  margin: 20px 0 60px 0;
  background-color: var(--background-color);
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
}

.box-juego {
  display: block;
  height: 20rem;
  width: 40rem;
  color: rgb(26, 27, 22);
  position: relative;
  padding: 2.5rem 1rem 2.5rem 1rem;
  border-radius: 15%;
  margin: 2.5rem 0.5rem 2.5rem 0.5rem;
}

.box-juego a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(84, 18, 238);
  font-weight: bolder;
  font-size: large;
  text-align: right;
  text-shadow: 2px 2px 2px rgb(245, 245, 245);
}

#juego_robotMissile {
  background-size: contain;
  background-repeat: round;
  box-sizing: border-box;
  background-image: url("../asset/img/robot.jpeg"),
    linear-gradient(rgb(12, 12, 12), rgb(12, 12, 12));
}

#juego_vitalMessage {
  background-size: contain;
  background-repeat: round;
  box-sizing: border-box;
  background-image: url("../asset/img/vitalmessage.jpeg"),
    linear-gradient(rgb(12, 12, 12), rgb(12, 12, 12));
}
#juego_shootout {
  background-size: contain;
  background-repeat: round;
  box-sizing: border-box;
  background-image: url("../asset/img/shoot.jpeg"),
    linear-gradient(rgb(12, 12, 12), rgb(12, 12, 12));
}

#juego_battleTank {
  background-size: contain;
  background-repeat: round;
  box-sizing: border-box;
  background-image: url("../asset/img/tank.jpeg"),
    linear-gradient(rgb(12, 12, 12), rgb(12, 12, 12));
}

#juego_traitorCastle {
  background-size: contain;
  background-repeat: round;
  box-sizing: border-box;
  background-image: url("../asset/img/Castle.jpeg"),
    linear-gradient(rgb(12, 12, 12), rgb(12, 12, 12));
}

.extras {
    display: flex;
    margin: 0 20px 0 20px;
}

.box-extra iframe{
    border-radius: 15%;
}
.box-extra img{
    height: 55%;
    border-radius: 15%;
}

.extras h2{
    margin-bottom: 20px;
}

#contacto {
    margin: 0 0 20px 0;
    
}

.containercontent {
    background-color: var(--background-color);
    padding: 30px;
    margin-top: 20px;
}


footer {
    background-color: var(--background-color2);
    padding: 20px 0 20px 0;
}

.containerfooter {
    display: flex; 
}

.containerfooter p{
    position: sticky;
    padding-top: 15px;
}
.socialmedia {
    position: sticky;
    left: 1720px; 
}

/* pagina de juegos */

.codigo-view p{
    background-color: #f0f0f0;
    font-family: monospace;
    font-size: 12px;
    padding: 10px;
    border: 1px solid #ccc;
}