@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Euphoria+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  33% {
    transform: rotateX(180deg) rotateY(0) rotateZ(0);
  }
  67% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
}
/* RESET */
.reset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eaeaea;
}

/* HEADER */
.navbar {
  background-color: #eaeaea;
}

.navbar-brand {
  font-family: "Electrolize", serif;
  color: #001514;
}

.navbar-nav {
  font-family: "Roboto Flex", sans-serif;
}

#MainBanner {
  padding: 0;
}

/* MAIN */
.subtitle {
  font-family: "Electrolize", serif;
  color: #3b3621;
  margin-left: 20px;
}

.aboutP_item {
  width: 500px;
  margin: 5px;
}

.aboutP_img {
  border-radius: 25px;
}

.aboutP_item p {
  font-family: "Roboto Flex", sans-serif;
  text-align: justify;
  text-indent: 20px;
  font-size: clamp(0.9rem, 1.5vw, 1.5vw);
}

.container_dark {
  background-color: #1e2019;
}

.image_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35vh);
  gap: 1vw;
  justify-content: space-evenly;
}

.card {
  width: 35vh;
  margin: 4vw 0 4vw 0;
}

.card:hover {
  scale: 1.1;
}

.card-body {
  background-color: #e3b505;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
}

.card_misc {
  width: 32rem;
  border: solid #1e2019;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_misc .card-body {
  background-color: #1e2019;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
  color: #e3b505;
}
.card_misc a {
  justify-content: center;
}
.card_misc a img {
  height: 350px;
  object-fit: fill;
}
.card_misc iframe {
  height: 350px;
}

.contacto_dark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_img {
  width: 400px;
  margin: 6px;
  border-radius: 50%;
  box-shadow: 6px 6px 18px 4px #3b3621;
  opacity: 0.5;
}

.Contacto_Form {
  justify-content: center;
  padding: 4vw 6vw 4vw 6vw;
  border-radius: 25px;
  margin: 0;
  width: clamp(200px, 90%, 700px);
}
.Contacto_Form button {
  margin-top: 1vw;
  align-self: center;
}

label {
  color: #e3b505;
  margin-top: 1vw;
}

.footer {
  height: 40vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer img {
  background-color: #eaeaea;
  padding: 4px;
  border-radius: 50%;
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.developed {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-bottom: 1px;
}

.socialMedia .bi {
  font-size: 50px;
  margin: 0 6px 0 6px;
  color: #e3b505;
}

/* MEDIA QUERIES */
@media screen and (max-width: 400px) {
  .navbar-brand span {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .container_light {
    margin: 2vh 0 3vh 0;
  }
  .aboutP_item {
    width: 300px;
    margin: 5px;
  }
}
@media screen and (min-width: 576px) {
  .container_light {
    margin: 4vh 0 4vh 0;
  }
  .aboutP_item {
    width: 400px;
    margin: 5px;
  }
}
@media screen and (min-width: 768px) {
  .container_light {
    margin: 7vh 0 7vh 0;
  }
  .aboutP_item {
    width: 500px;
    margin: 5px;
  }
  section {
    margin: 7vh 0 7vh 0;
  }
}
@media screen and (max-width: 1000px) {
  .contact_img {
    display: none;
  }
}
/* SECTIONS */
.codigo-view p {
  background-color: #f0f0f0;
  font-family: monospace;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #ccc;
}

/*# sourceMappingURL=styles_new.css.map */
