$navbar-bg-color: #eaeaea;
$banner-font-color: #001514;
$background-color-primary: #eaeaea;
$background-color-secondary: #1e2019;
$background-color-terciary: #f0f0f0;
$background-color-footer: black;
$background-color-footer_sec: #eaeaea;
$subtitle-font-color: #3b3621;
$terciary-font-color: rgb(238, 215, 123);
$media-font-color:#4d7c9a;
$card-body-color: #e3b505;
$card-body-color2:rgb(238, 215, 123);
$miscelaneo-font-color: #eaeaea;
