@import "colors";
@import "fonts";
@import "abstracts";

/* RESET */
.reset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color-primary;
}

/* HEADER */
.navbar {
  background-color: $navbar-bg-color;
}

.navbar-brand {
  font-family: $primary-font;
  color: $banner-font-color;
}

.navbar-nav {
  font-family: $secondary-font;
}

#MainBanner {
  padding: 0;
}

/* MAIN */
.subtitle {
  @include subtitle($primary-font, $subtitle-font-color, 20px);
}

.aboutP_item {
  @include aboutP_card(500px, 5px);
}

.aboutP_img {
  @include b_rad;
}

.aboutP_item p {
  font-family: $secondary-font;
  text-align: justify;
  text-indent: 20px;
  font-size: clamp(0.9rem, 1.5vw, 1.5vw);
}

.container_dark {
  background-color: $background-color-secondary;
}

.image_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35vh);
  gap: 1vw;
  justify-content: space-evenly;
}

.card {
  width: 35vh;
  margin: 4vw 0 4vw 0;
}
.card:hover {
  scale: 1.1;
}

.card-body {
  @include card-body($card-body-color, $secondary-font, center);
}

.card_misc {
  width: 32rem;
  border: solid $background-color-secondary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .card-body {
    @include card-body($background-color-secondary, $secondary-font, center);
    color: $terciary-font-color;
  }
  a {
    justify-content: center;

    img {
      height: 350px;
      object-fit: fill;
    }
  }
  iframe {
    height: 350px;
  }
}

.contacto_dark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_img {
  @include aboutP_card(400px, 6px);
  border-radius: 50%;
  box-shadow: 6px 6px 18px 4px #3b3621;
  opacity: 0.5;
}

.Contacto_Form {
  justify-content: center;
  padding: 4vw 6vw 4vw 6vw;
  border-radius: 25px;
  margin: 0;
  width: clamp(200px, 90%, 700px);
  button {
    margin-top: 1vw;
    align-self: center;
  }
}

label {
  color: $terciary-font-color;
  margin-top: 1vw;
}

.footer {
  @include footer_template;
}

.footer img {
  @include footer_img;
}

.developed {
  @include developer_template;
}

.socialMedia .bi {
  @include Media_icons;
}

/* MEDIA QUERIES */
@media screen and (max-width: 400px) {
  .navbar-brand span {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .container_light {
    margin: 2vh 0 3vh 0;
  }
  .aboutP_item {
    @include aboutP_card(300px, 5px);
  }
}

@media screen and (min-width: 576px) {
  .container_light {
    margin: 4vh 0 4vh 0;
  }

  .aboutP_item {
    @include aboutP_card(400px, 5px);
  }
}

@media screen and (min-width: 768px) {
  .container_light {
    margin: 7vh 0 7vh 0;
  }

  .aboutP_item {
    @include aboutP_card(500px, 5px);
  }

  section {
    margin: 7vh 0 7vh 0;
  }
}

@media screen and (max-width: 1000px) {
  .contact_img {
    display: none;
  }
}

/* SECTIONS */

.accordion-section {
  @include section-accordion;
}

.main-game {
  padding: 0;
}

.section_banner {
  margin: 4rem 0 2rem 0;
  background-image: url("/asset/img/Games_Banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  align-content: end;
  height: 8rem;
  h1 {
    color: $miscelaneo-font-color;
  }
}

.container_game{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $background-color-secondary;
  border-radius: 5px;
}